.card {
  position: relative;
  height: 300px;
  border-radius: 12px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}

.card .overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
}

.card .content {
  position: relative;
  padding: 20px;
  color: #fff;
}

.category {
  font-size: 12px;
  color: #07012a;
}

.card h2 {
  margin: 5px 0;
}

.card p {
  font-size: 14px;
  opacity: 0.8;
}